* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-night);
  color: var(--color-fg-night);
  font-family: 'Satoshi', sans-serif;
  overflow: hidden;
  height: 100vh;

}

img {
  width: 100px;
  object-fit: cover;
  border-radius: .5rem;
}

header {
  padding: 1rem .5rem;
}

.container {
  padding: .5rem;
  margin: 1rem 0;
  display: flex;
}

/* #region color */

:root {
  --color-bg-day: #ffffff;
  --color-fg-day: #111111;
  --color-p-day: #626262;
  --color-card-bg-day: #E9E9E9;
  --color-card-hv-day: #E0E0E0;
  --color-bg-night: #111111;
  --color-fg-night: #E9E9E9;
  --color-p-night: #909090;
  --color-card-bg-night: #222222;
  --color-card-hv-night: #2E2E2E;
}

/* #endregion color */




.widjet {
  width: 20%;
  padding: .5rem;

  .city,
  .date,
  .switch {
    background-color: #626262;
    margin-top: .75rem;
    border-radius: .75rem;
    padding: 1.5rem;
  }

  .double {
    display: flex;
    justify-content: space-between;
    margin-top: .75rem;

    .party,
    .meteo {
      width: 50%;
      width: calc(50% - (0.75rem / 2));
      height: 100px;
      background-color: #626262;
      border-radius: .75rem;
      position: relative;

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem;
      }

    }
  }


}

.otherInfo {

  padding: .5rem;
  height: calc(100vh - 280px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;

  .card {
    margin: .75rem 0;
    font-size: .75rem;
    flex-grow: 1;


    .bodyCard {
      background-color: #626262;
      padding: .75rem;
      border-radius: 1rem;
      overflow: hidden;


    }


    h4 {
      padding: .5rem;
    }

    .description {
      padding: 0 .5rem;
    }
  }
}

.otherInfo::-webkit-scrollbar {
  display: none;
}

.scroll-section {
  position: relative;
  width: 30%;
}

.fade-top {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  height: 1.75rem;
  background: linear-gradient(to bottom, #111111, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.fade-bottom {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 1.75rem;
  background: linear-gradient(to top, #111111, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.card-body {
  display: flex;
  height: 80px;

  .card-img {
    width: 25%;
    border-radius: .5rem;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .card-info {
    width: 75%;

    h4 {
      padding: 0 5rem .25rem .5rem;
    }

    .description {
      padding-bottom: 1rem;
    }
  }
}